Body {
  font-family: Calibri, Helvetica, sans-serif;
  background-color: #c3ccdd;
}
button {
  background-color: #1b74c5;
  width: 100%;
  color: white;
  padding: 15px;
  margin: 10px 0px;
  border: none;
  cursor: pointer;
}
form {
  border: 3px solid #f1f1f1;
}
input[type="text"],
input[type="password"] {
  width: 100%;
  margin: 8px 0;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #1b74c5;
  box-sizing: border-box;
}
button:hover {
  opacity: 0.7;
}
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  margin: 10px 5px;
}

.container {
  margin: 0 auto;
  max-width: 48rem;
  width: 90%;
}

.text-muted {
  text-align: center;
  color: #999;
}
